@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Downloader manager</h1>
    <button id="launchAppButton">Open App</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#launchAppButton").click(function () {
            $.ajax({
                url: "/Home/StartWpfApp",
                type: "POST",
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                    } else {
                        alert("Failed to start WPF app: " + response.message);
                    }
                },
                error: function () {
                    alert("Error while sending request to start WPF app.");
                }
            });
        });
    });
</script>